body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #3fb1e650;
  color: #333;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.button-container {
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e0e0e0;
}

#result,
#score,
#final {
  margin-top: 20px;
  font-size: 20px;
}
